* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    height: 100vh;
    background-color: blue;
    font-family: sans-serif;
}

.game h1 {
    text-align: center;
}

.score {
    color: black;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.match {
    text-align: center;
    padding-top: 100px;

}

.computer-hand {
    height: 100px;
    margin-bottom: 40px;
    padding-left: 55px;
    
    
}

.player-hand {
    height: 100px;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 55px;
    
    
}
.options {
     align-items: center;

}

.match button {
    width: 150px;
    height: 50px;
    background: none;
    color:darkgrey;
    font-size: 20px;
    background: darkgreen;
    border-radius: 3px;
    cursor: pointer;
    
    
}



.winner {
    color: black;
    text-align: center;
    font-size: 40px;
    padding-bottom: 60px;
}