/* Golbal style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: static;
}

/* Top section and background */

.game {
    height: 100vh;
    background-color: blue;
    font-family: sans-serif;
}

.game h1 {
    text-align: center;
    color: white;
}

/* Scroe area */

.score {
    color:white;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

/* Match area */

.match {
    text-align: center;
    padding-top: 50px;
}

.computer-hand {
    height: 100px;
    margin-bottom: 40px;
    padding-left: 55px;
}

.player-hand {
    height: 100px;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 55px;
}

.options {
     align-items: center;
}

/* Buttons */

.match button {
    width: 150px;
    height: 50px;
    background: none;
    color:darkgrey;
    font-size: 20px;
    background: darkgreen;
    border-radius: 3px;
    cursor: pointer;
}

.winner {
    color:white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 60px;
}

/* game rules on the top of the page */

.rules {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 2.5rem;  
    position: relative;
    padding-bottom: 10px;
}

/* adjust thr rules paragraph to be in a single line */

@media (max-width: 414px) {
    .rules p {
       font-size: small;
    }

@media (max-width: 320px) {
     .rules p {
       font-size: x-small;
    }